<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="https://media.istockphoto.com/id/1363276612/es/foto/el-profesor-ayuda-al-becario-con-el-proyecto-asesorando-sobre-su-trabajo-maestro-dando.jpg?s=612x612&w=is&k=20&c=SFmBfBnyMXGabOAoidlO7-W5ukdzHpHuQJLj8ec0oFA=" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-dark">Learn tech skills.
      <span class="primary text-primary">Build a career you love</span>
    </h1>
    <p class="lead text-dark">Immersive Web Development, UX/UI Design, Data Analytics, and Cybersecurity courses. Formats tailored to your needs: online or on campus, full-time or part-time.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <input class="text-dark" type="Courses">
      <input class="text-dark" type="Location">
      <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get Started</button>
    </div>
  </div>
</div>
